
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4 text-primary">Pixel Store</h1>
  <p class="lead text-muted">Este sistema é apenas um protótipo utilizado no desafio 1 do treinamento de liderança técnica da STI.</p>
</div>


<div class="card-deck mb-3 text-center">
<% @products.each do |product| %>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 text-light font-weight-normal"><%= product.name %></h4>
          </div>

          <div class="card-body">
            <% if product.photo.present? %>
                <%= image_tag product.photo.medium.url, class: 'rounded border border-gray imagem-lista-products'  %>
            <% else %>
                <%= image_tag "no-picture.png", class: 'rounded border border-gray imagem-lista-products' %>
            <% end %>
            <p class="media-body pb-3 mb-0 lh-125 pr-5">
              <strong class="d-block text-gray-dark"></strong>
            </p>
            <h2 class="card-title text-info pricing-card-title">R$ <%= product.price %></h2>
            <% if esgotado?(product) %>
              <p class="d-block mb-2 text-danger">ESGOTADO</p>    
            <% else %>
              <small class="d-block mb-2 text-muted"><%= product.quantity %> unidades disponíveis</small>
              <%= link_to 'Ver', product_path(product), class: 'btn btn-outline-primary' %>
            <% end %>
          </div>
        </div>

        <% end %>

        
      </div>

      <%= javascript_include_tag "cart.js" %>
