<div id="mycart" class="small-10 small-centered medium-8 large-8 column">
  <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
    <h3>Meus Pedidos</h3>
  </div>

      <% @orders.each do |order| %>

      <div class="card mb-4 box-shadow">
        <div class="card-header text-white">
          <p class="h5">Pedido #<%= order.id %>
            <span class="small">Realizado em <%= l order.created_at, format: :short %></span>
          </p>
         <p>Forma de Pagamento:  <%= order.payment %></p>
        </div>

       <div class="card-body">
       
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Item</th>
              <th scope="col">Preço</th>
            </tr>
          </thead>

          <tbody>
        <% order.order_items.each do |item| %>
            <tr>
              <td><%=image_tag item.product_photo.thumb.url, class: "radius-l1"%></td>
              <td><%= item.product_name %></td>
              <td><%= item.price %></td>
            </tr>
        <%end%>
          </tbody>
  </table>
  </div>
  </div>
          
      <%end%>




</div>