<div id="mycart" class="small-10 small-centered medium-8 large-8 column">
  <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
    <h4>Meu Carrinho</h4>
    <p class="mb0"> Você tem <span class="cart-count"><%=current_user.cart_count%></span> items no seu carrinho</p>
  </div>

  <div id="checkout-processing" class="checkout-modal bg-white border border-primary flex-column justify-content-center align-items-center">
      <p class="display-5">Estamos processando seu pedido...</p>
     <%= link_to "Desfazer Pedido", '#', class:'btn btn-warning text-ligth', id:'undo-checkout' %>
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.each do |product| %>

      <tr>
        <td>
          <%=link_to product do%>
            <%=image_tag product.photo.thumb.url, class: "radius-l1"%>
          <%end%>
        </td>
        <td><%= product.name %></td>
        <td>R$ <%= product.price %></td>
        <td>
          <%=link_to '' , class:"cart-button btn btn-outline-danger", data: {target: remove_from_cart_path(product)} do%>
            <%= fa_icon "times" %>
          <%end%>
        </td>
      </tr>
  <%end%>
      </tbody>
  </table>

  <hr>

  <div class="row">
    <div class="col">
    <p class="h5">Forma de Pagamento</p>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="payment" value=0 class="custom-control-input" checked>
        <label class="custom-control-label" for="customRadio1">Boleto</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="payment" value=1 class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">Cartão</label>
      </div>
    </div>
  </div>

  <div class="row text-right">
    <div class="col">
      <%= link_to '', class:'btn btn-primary text-ligth', id:'checkout',  data: {url: checkout_cart_path(cart: @cart)} do %>
        <%= fa_icon "arrow-circle-right" %>
        Finalizar Pedido
      <%end%>
    </div>
  </div>
</div>