body{
  font-family: 'VT323', monospace;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgb(141, 123, 185);
}

:root{
  font-size: 18px;
}

.checkout-modal{
  position:absolute;
  display: none;
  top:50%;
  left:50%;
  width:300px;  /* adjust as per your needs */
  height:300px;   /* adjust as per your needs */
  margin-left:-150px;   /* negative half of width above */
  margin-top:-150px;
  z-index: 1;
  border-radius: 4px;
  -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
  box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);

}
