<%= form_with(model: product, local: true) do |f| %>
    <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, 'Nome:' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :price, 'Preço: ' %>
      <%= f.text_field :price, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :photo, 'Foto do Produto:' %> <br/>
        <%= f.file_field :photo %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :quantity, 'Quantidade:' %> <br/>
        <%= f.number_field :quantity %>
      </div>
    </div>

    <div class="row">
        <%= f.submit 'Salvar', class: 'btn btn-success pull-right' %>
    </div>
<% end %>
