<% @products.each do |product| %>
        <div class="card p-3 mb-3">
          <div class="row">
            <div class="col-md-6">
              <div class="media align-items-center text-muted py-3 px-3">
                <% if product.photo.present? %>
                    <%= image_tag product.photo.medium.url, class: 'mr-4 rounded border border-gray imagem-lista-products'  %>
                <% else %>
                    <%= image_tag "no-picture.png", class: 'mr-4 rounded border border-gray imagem-lista-products' %>
                <% end %>
                <p class="media-body pb-3 mb-0 lh-125 pr-5">
                  <strong class="d-block text-gray-dark"><%= product.name %></strong>
                  <span class="d-block pb-2 small">R$ <%= product.price %></span>
                </p>
              </div>
            </div>
          </div>
        </div>
    <% end %>
