<div class="container">
  <div class="row">
    <div class="">
      <% if @product.photo.present? %>
      <%= image_tag @product.photo.big.url, class: 'col rounded border border-gray imagem-lista-@products'  %>
      <% else %>
      <%= image_tag "no-picture.png", class: 'rounded border border-gray imagem-lista-@products' %>
      <% end %>
    </div>
    <div class="col">
      <div class="card box-shadow">

        <div class="card-header">
          <h4 class="my-0 text-light font-weight-normal">
            <%= @product.name %>
          </h4>
        </div>

        <div class="card-body">

          <p class="media-body pb-3 mb-0 lh-125 pr-5">
            <strong class="d-block text-gray-dark"></strong>
          </p>
          <h2 class="card-title text-info pricing-card-title">R$
            <%= @product.price %>
          </h2>
          <% if esgotado?(@product) %>
            <p class="d-block mb-2 text-danger">ESGOTADO</p>
            <% else %>
            <p class="d-block mb-2 text-muted">
              <%= @product.quantity %> unidades disponíveis</p>
            <% if signed_in? and esta_no_carrinho?(@product) %>
              <%= link_to '', class:"cart-button btn btn-outline-danger", data: {target: remove_from_cart_path(@product)} do %>
                <%= fa_icon "times" %>
                <%= fa_icon "shopping-cart 2x" %> Remover do Carrinho
              <%end%>
            <% else %>
               <%= link_to '', class:"cart-button btn btn-outline-primary", data: {target: add_to_cart_path(@product)} do %>
                <%= fa_icon "plus" %>
                <%= fa_icon "shopping-cart 2x" %> Adicionar ao Carrinho
              <%end%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
</div> 

