<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 text-center">
            <%=image_tag 'heart.png', class: "mb-2", size:"36x36" %>         
            <small class="d-block mb-3 text-muted">Romulo Mourão © 2018</small>
          </div>
        </div>
    
</footer>