   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to "PIXEL STORE", root_path %></h5>
      <nav class="my-2 my-md-0 mr-md-3">
      <% if user_signed_in? %>
      <%= link_to 'Meus Pedidos', orders_path %>  
      <%= link_to cart_path, class:"btn btn-outline-primary" do %>
        <%= fa_icon "shopping-cart 2x" %> 
        <span class="cart-count"><%=current_user.cart_count%></span>
        <% end %>
        
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-primary') %>        
        
      <% else %>
       
        <%= link_to('Login', new_user_session_path, class: 'btn btn-sm btn-outline-primary')  %>  
       
      <% end %>
      </nav>
    </div>